<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      <p class="title is-size-5">{{ this.secretPairIssuer }}</p>
    </div>
  </div>
  <div class="card-content">
    <div class="level is-mobile">
      <div class="level-item">
        <div class="container">
          <p class="heading">2FA Password</p>
          <p class="subtitle is-size-1"><strong>{{ this.token }}</strong></p>
        </div>
      </div>
      <div class="level-item">
        <div class="container">
          <b-button type="button"
                    v-clipboard:copy="this.token"
                    v-clipboard:success="onCopy"
                    v-clipboard:error="onError">
            <b-icon icon="content-copy" size="is-small"></b-icon>
            <span>Copy</span>
          </b-button>
          <b-button class="is-danger"
                    @click="removeSecretPair(indexKey)">
            <b-icon icon="delete" size="is-small"></b-icon>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</div>
